@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;0,700;1,500;1,700&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}


body {
    margin: 20px;
    padding: 0px;
    font-size: 18px;
    font-family: Epilogue, sans-serif;
    background-color: var(--almost-white);
    color: var(--medium-gray)
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.left-side-menu {
    display: flex;
}

.toogle {
    display: inline-block;
    transform: rotate(269deg);
    font-weight: bold;
}

.dropdown-features {
    display: none;
    background-color: white;
    border-radius: 12px;
    padding: 17px;
    position: absolute;
    top: 60px;
    left: 40px;
    width: 150px;
    box-shadow: 0px 0px 9px 1px var(--medium-gray);
    line-height: 1.8;
    z-index: 100;
}

.dropdown-compagny {
    display: none;
    background-color: white;
    border-radius: 12px;
    padding: 17px;
    position: absolute;
    top: 60px;
    left: 190px;
    width: 120px;
    z-index: 100;
    box-shadow: 0px 0px 9px 1px var(--medium-gray);
    line-height: 1.8;
}

.dropdown-features > li {
    position: relative;
    right: 10%;
    top: 10%;
}

.dropdown-compagny > li {
    position: relative;
    right: 15%;
    top: 10%
}

.dropdown-menu-hover-one:hover .dropdown-features {
    display: block;
}

.dropdown-menu-hover-two:hover .dropdown-compagny {
    display: block;
}

.right-side-menu {
    display: flex;
}

li {
    list-style: none;
    margin-left: 30px;
}

li:hover {
    color: var(--almost-black);
    cursor: pointer;
}

.register {
    border: solid ;
    width: auto;
    height: 18px;
    padding: 8px;
    transform: translateY(-10px);
    border-radius: 12px;
    padding: 10px;
}


/* Main content */ 
section {
    display: flex;
}

.left-content {
    position: relative;
    top: 50px;
    width: calc(70%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2, p, .learn-more-button {
    position: relative;
    top: 10px;
    left: 15%;
}

h2 {
    color: var(--almost-black);
    font-size: 80px;
    width: 600px;
}

p {
    width: 450px;
    line-height: 1.6;
}

.learn-more-button {
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 10px;
    width: 160px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: none;
}

.learn-more-button:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
}

.right-content {
    width: calc(50%);
    display: flex;
    justify-content: space-between;
}

.img-hero-desktop {
    position: relative;
    top: 70px;
    right: 30px;
    width: calc(960px/2.1);  
    height: calc(1280px/2.2); 
}

/* CSS from frontend mentor */ 
.attribution { 
    display: none;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}